<nav>
  <ul>
    <li><a href="/taylor">Taylor Swift</a></li>
    <li><a href="/drake">Drake</a></li>
    <li><a href="/billie">Billie Eilish</a></li>
    <li><a href="/weeknd">The Weeknd</a></li>
  </ul>
</nav>
