<h2>Website Features</h2>
<ul>
  <li>Create (Add) new items</li>
  <li>Read (View) all items</li>
  <li>Update (Edit) existing items</li>
  <li>Delete items</li>
  <li>Responsive layout with CSS</li>
</ul>
