{{!< layouts/main }}
<h1>Welcome to the CRUD App</h1><hr>
<br>
<br>
<br>
<br>
<section class="welcome-section">
    <h2>About the App</h2>

        <p>This is a simple and professional CRUD app where you can manage your items easily.</p>
        <p>Use the navigation above to view the list of items or see features .</p>
</section>
